<div class="route-selector">
  <div class="select">
    <i class="pi pi-angle-down"></i>
    <select
      [disabled]="!routes || !routes.length"
      (change)="onRouteSelectionChange()"
      [(ngModel)]="selectedRouteId"
      id="route-select"
      data-cy="route-select"
    >
      <option [disabled]="selectedRouteId" value="">Select a route</option>
      <option *ngFor="let route of routes" [value]="route.routeId">
        {{ route.routeLabel }}
      </option>
    </select>
  </div>

  <div class="select" *ngIf="directions?.length">
    <i class="pi pi-angle-down"></i>
    <select
      (change)="onDirectionSelectionChange()"
      [(ngModel)]="selectedDirectionId"
      id="direction-select"
      data-cy="direction-select"
    >
      <option [disabled]="selectedDirectionId" value="">
        Select a direction
      </option>
      <option
        *ngFor="let direction of directions"
        [value]="direction.directionId"
      >
        {{ direction.directionName }}
      </option>
    </select>
  </div>

  <div class="select" *ngIf="places?.length">
    <i class="pi pi-angle-down"></i>
    <select
      (change)="onStopSelectionChange()"
      [(ngModel)]="selectedPlaceCode"
      id="stop-select"
      data-cy="stop-select"
    >
      <option [disabled]="selectedPlaceCode" value="">Select a stop</option>
      <option
        *ngFor="let place of places"
        [value]="place.placeCode"
        :key="place.placeCode"
      >
        {{ place.placeDescription }}
      </option>
    </select>
  </div>
</div>

<app-route-viewer *ngIf="loadedTrip" [trip]="loadedTrip"></app-route-viewer>
